* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin:0px;
    padding: 0px;
    cursor: default;
    font-size: 1em; 
}

.container {
    max-width: 1400px;
    width: 95%;
    margin: auto;
}

/* ici sont rangées toutes les propriétés génériques, qui s'appliquent à tous les éléments identiques de la page */

h1 {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
    margin-bottom: 8px;
}

i {
    color: #0065FC;
}

a {
    width: 100%;
    text-decoration: none;
    color: #000000;
}


/* ici se trouvent tout ce qui concerne le .main_header, c'est à dire le bandeau avec logo Booki et menu de navigation */ 

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    margin-bottom: 3%;
}

.logo {
    width: 61px;
    height: 29px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 95px;
}

.main_header a {
    padding-top: 58px;
}

a:visited {
    color: #000000;
}

a:hover {
    color:#0065FC;
}

.main_header a:hover {
    border-top: solid 4px #0065FC;
}

/* ici se trouve tout ce qui concerne le main, soit la section .search , la section .accomodation et la section . activities */

main {
    margin-bottom: 4%;
}

/* ici se trouve ce qui concerne la section .search : .search_header (titre et p), le formulaire, les filtres de recherche et le .search_footer */

.search {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.search_header {
    margin-bottom: 1.5%;
}

form {
    margin-bottom: 1.5%;
    border-radius: 15px;
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone_location {
    padding: 1.5em 1em;
    border-radius: 20px 0 0 20px;
    background-color: #F2F2F2;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_zone {
    padding: 1.2em 1em 1.2em 1.2em;   /* test pour augmenter la hauteur de la zone de texte sans toucher au height */ 
    font-weight: bold;
    border-left: none;
    border-right: none;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
}

.search_zone input::placeholder {          /* test pour mettre les mots "Marseille, France" en noir, échec, à revoir */ 
    opacity: 1;
    color:#000000;
}

.search_zone input :active {
    border: none; 
}

.btn {
    padding: 1.2em;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: #0065FC;
    font-weight: bold;
    color: #FFFFFF;
}

.magnifying_glass::before {
    display: none;
}

.filters {
    margin-bottom: 1.5em;
    display: flex;
    align-items: center;
    width: 70%;
    font-weight: bold;
}

.filter_name {
    padding: 1em;
}

.filters_elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filters_elements .element:hover {
    background-color: #deebff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.element {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border: solid 2px #D9D9D9;
    border-radius: 30px;
    margin-left: 2em;       /*test*/
}

.icone {
    padding: 1em 0 1em 1em;  /*test*/
}

.search_footer {
    display: flex;
    align-items: center;
}

.search_footer .circle {
    width: 30px;
    height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding-left: 0.9em;
    padding-top: 0.9em;
    margin-right: 1%;
}

/* ici se trouve tout ce qui concerne la section .accomodation c'est à dire les deux .box (. box lodging et .box le aside) */ 

.accomodation {
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 63.7% 32%;
    gap: 4.3%; 
}

.box {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 45px 35px 35px 35px;
}

.stars_note i:last-child {
    color: #f2f2f2;
}

/* ici se trouve tout ce qui concerne la section .lodging ("Hébergement à Marseille") : header + .lodging_cards (contenant les 6 .cards) + footer */ 

.lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lodging_header {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 1em;
}

.lodging_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    border-radius: 20px;
    width: 30%;
    padding: 0.7%;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cards:hover {
    transform: scale(1.05);
}

.cards img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0; 
    object-fit: cover;
}

.cards_txt {
    padding-left: 3%;
}

.cards_txt p {
    padding-bottom: 1%;
}

.lodging_footer {
    font-weight: bold;
    font-size: large;
}

/* ici se trouve tout ce qui concerne le aside ("Les plus populaires) */ 

.popular_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bolder;
}

.popular_cards {
    border-radius: 20px;
    width: 100%;
    margin-bottom: 8%;
    padding: 1.5%;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.popular_cards:hover {
    transform: scale(1.05);
}

.popular_cards a {
    display: flex;
}

.popular_cards img {
    width: 35%;
    height: 140px;
    border-radius: 20px 0 0 20px; 
    object-fit: cover;
}

.popular_cards_info {
    margin: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0%;
}

/* ici se trouve tout ce qui concerne la section .activities */

.activities h2 {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 1em;
}

.activities_cards {
    display: grid;
    grid-template-columns: 22.9% 22.9% 22.9% 22.9%;
    gap: 2.8%;
}

.activities_cards a { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px white;
    border-radius: 5px;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.activities_cards a:hover {
    transform: scale(1.02);
}

.activities_cards img {
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0 0; 
    object-fit: cover;
}

.activities_cards a h3 {
    margin-left: 5%;
    padding: 10px 0;
}

/* fin du main */

/* ici se trouve tout ce qui concerne le footer de la page, nommé .main_footer */ 

.main_footer {
    background-color: #F2F2F2;
    display: flex;
    padding: 50px;
}

.footer_zone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer_zone p {
    display: flex;
    flex-direction: column;
}

.footer_zone a {
    padding-top: 1em;
}


/* ici se trouvent les media queries */

@media screen and (max-width: 992px) {

    .filters {
        width: 95%;
    }

    .accomodation {
        display: flex;
        flex-direction: column;
    }

    .lodging {
        margin-bottom: 50px;
    }

    .most_popular {
        display: grid;
        grid-template-columns: 31% 31% 31%;
        gap: 3%;
    }

    aside {
        margin-bottom: 50px;
    }

    .activities_cards {
        display: grid;
        grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
        gap: 5%;
    }

    .activities_cards a img {
        height: 230px;
    }
}

@media screen and (max-width: 767px) {

    .container {
        margin-top: 50px;
        width: 100%;
    }

    .main_header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2em;
        border-bottom: solid 3px #F2F2F2;
    }

    .logo {
        margin-bottom: 2em;
    }

    nav {
        width: 100%;
    }

    .main_header a {
        padding: 1.3em 0 1.3em 0;
    }


    li {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0;
        padding: 0 4em 0 4em;
    }

    .main_header a:hover {
        border-top: none;
    }

    .main_header li:hover {
        border-bottom: solid 3px #0065FC;
    }

    .search {
        padding: 0 1em 0 1em;
    }

    form {
        padding: 1em 0 1em 0;
        width: 100%;
    }

    .btn {
        display: none;
    }

    .magnifying_glass::before {
        display: inline;
        padding: 1em;
        border-radius: 0 20px 20px 0;
        border: none;
        background-color: #0065FC;
        color: #FFFFFF;
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters_elements {
        padding-top: 1.5em;
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1.5em;
    }

    .filter_name {
        font-size: small;
    }

    .element {
        margin-left: 0px; 
    }

    .search_footer .circle {
        margin-right: 1em;
    }

    .accomodation {
        display: flex;
        flex-direction: column-reverse;
    }

    .box {
        border-radius: 0%; 
        padding: 45px 15px 15px 15px;
    }

    aside {
        margin-bottom: 30px; 
    }

    .most_popular {
        display: flex;
        flex-direction: column;
    }

    .lodging {
        background-color: #ffffff;
    }

    .lodging_cards {
        flex-direction: column;
    }

    .cards {
        width: 100%;
    }

    .lodging_footer {
        display: none;
    }

    .activities {
        padding: 0px 15px 50px 15px;
    }

    .activities_cards {
        display: flex;
        flex-direction: column;
    }

    .activities_cards a {
        margin-bottom: 1em;
    }

    .main_footer {
        flex-direction: column;
    }

    .footer_zone {
        padding-bottom: 2em;
    }

    .footer_zone h2 {
        font-size: larger;
        font-weight: bolder;
    }

}
