* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin:0px;
    padding: 0px;
    cursor: default;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
}

/* ici sont rangées toutes les propriétés génériques, qui s'appliquent à tous les éléments identiques de la page */

h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 8px;
}

p {
    font-size: 0.9em;
}

i {
    color: #0065FC;
}

a {
    text-decoration: none;
    color: #000000;
}


/* ici se trouvent tout ce qui concerne le .main_header, c'est à dire le bandeau avec logo Booki et menu de navigation */ 

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    margin-bottom: 3%;
}

.main_header img {
    width: 61px;
    height: 29px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 95px;
}

.main_header a {
    padding-top: 58px;
}

a:visited {
    color: #000000;
}

a:hover {
    color:#0065FC;
}

.main_header a:hover {
    border-top: solid 4px #0065FC;
}



/* ici se trouve tout ce qui concerne le main, soit la section .search , la section .accomodation (elle-même composée de .lodging et du aside) et la section . activities */

main {
    margin-bottom: 4%;
}

/* ici se trouve ce qui concerne la section .search : .search_header (titre et p), le formulaire, les filtres de recherche et le .search_footer */

.search {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.search_header {
    margin-bottom: 1.5%;
}

form {
    margin-bottom: 1.5%;
    border-radius: 15px;
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone_location {
    padding: 25px 20px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_zone {
    width: 60%;
    height: 49px;              /* je ne peux ni enlever le height, ni le passer en % */ 
    padding-left: 20px;
    font-size: 1.1em;
    font-weight: bold;
    border-left: none;
    border-right: none;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
}

.btn {                          /* problème avec la taille du mot "rechercher" quand on réduit la taille de l'écran a 992px*/
    width: 27%;
    height: 49px;
    padding: 0 3% 0 2%;
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #0065FC;
    font-size: 1.1em;
    font-weight: bold;
    color: #FFFFFF;
}

.magnifying_glass::before {
    display: none;
}

.filters {
    margin-bottom: 1.5%;
    display: flex;
    align-items: center;
    width: 70%;
    font-size: 1em;
    font-weight: bold;
}

.filters h3 {
    margin-bottom: 0;
}

.filters_elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filters_elements .element:hover {
    background-color: #deebff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.element {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 50px;                        /* je ne peux pas enlever ce height sinon mes boutons filtres sont trop petits */ 
    border: solid 2px #D9D9D9;
    border-radius: 30px;
    margin-left: 4%;
}

.element i {
    margin: 0 10px 0 20px;
}
                                        /* je n'arrive pas à régler la taille des h3 "economique", "familial", ... pour qu'ils rapetissent en 992px */
.search_footer {
    display: flex;
    align-items: center;
}

.search_footer .circle {
    width: 30px;
    height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding-left: 0.8%;
    padding-top: 0.8%;
    margin-right: 1%;
}

/* ici se trouve tout ce qui concerne la section .accomodation c'est à dire les deux .box (. box lodging et .box le aside) */ 

.accomodation {
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 63.7% 32%;
    gap: 4.3%;
}

.box {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 45px 35px 35px 35px;
}

.stars_note i:last-child {
    color: #f2f2f2;
}

/* ici se trouve tout ce qui concerne la section .lodging ("Hébergement à Marseille") : header + .lodging_cards (contenant les 6 .cards) + footer */ 

.lodging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lodging_header {
    height: 10%;
}

.lodging_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    border-radius: 20px;
    width: 30%;
    padding: 0.7%;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cards:hover {
    transform: scale(1.05);
}

.cards img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0; 
    object-fit: cover;
}

.cards_txt {
    padding-left: 3%;
}

.cards_txt p {
    padding-bottom: 1%;
}

.lodging_footer {
    font-weight: bold;
    font-size: 1.4em;
}

/* ici se trouve tout ce qui concerne le aside ("Les plus populaires) */ 

.popular_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}

.popular_cards {
    border-radius: 20px;
    width: 100%;
    margin-bottom: 8%;
    padding: 1.5%;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.popular_cards:hover {
    transform: scale(1.05);
}

.popular_cards a {
    display: flex;
}

.popular_cards img {
    width: 35%;
    height: 140px;
    border-radius: 20px 0 0 20px; 
    object-fit: cover;
}

.popular_cards_info {
    margin: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0%;
}

/* ici se trouve tout ce qui concerne la section .activities */

.activities_cards {
    display: grid;
    grid-template-columns: 22.9% 22.9% 22.9% 22.9%;
    gap: 2.8%;
}

.activities_cards a { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px white;
    border-radius: 5px;
    flex-grow: 1;
    width: 100%;
    height: 105%;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.activities_cards a:hover {
    transform: scale(1.02);
}

.activities_cards img {
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0 0; 
    object-fit: cover;
}

.activities_cards a h3 {
    margin-left: 5%;
}

/* fin du main */

/* ici se trouve tout ce qui concerne le footer de la page, nommé .main_footer */ 

.main_footer {
    background-color: #F2F2F2;
    display: flex;
    padding: 50px;
}

.footer_zone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer_zone p {
    display: flex;
    flex-direction: column;
}

.footer_zone a {
    margin-bottom: 8px;
}