* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin:0px;
    padding: 0px;
    cursor: default;
}

.container {
    max-width: 1400px;
    width: 95%;
    margin: auto;
}

/* ici sont rangées toutes les propriétés génériques, qui s'appliquent à tous les éléments identiques de la page */

h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 8px;
}

p {
    font-size: 0.9em;
}

i {
    color: #0065FC;
}

a {
    text-decoration: none;
    color: #000000;
}


/* ici se trouvent tout ce qui concerne le .main_header, c'est à dire le bandeau avec logo Booki et menu de navigation */ 

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    margin-bottom: 3%;
}

.main_header img {
    width: 61px;
    height: 29px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 95px;
}

.main_header a {
    padding-top: 58px;
}

a:visited {
    color: #000000;
}

a:hover {
    color:#0065FC;
}

.main_header a:hover {
    border-top: solid 4px #0065FC;
}



/* ici se trouve tout ce qui concerne le main, soit la section .search , la section .accomodation (elle-même composée de .lodging et du aside) et la section . activities */

main {
    margin-bottom: 3%;
}

/* ici se trouve ce qui concerne la section .search : .search_header (titre et p), le formulaire, les filtres de recherche et le .search_footer */

.search {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.search_header {
    margin-bottom: 15px;
}

form {
    margin-bottom: 15px;
    border-radius: 15px;
    width: 30%;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone_location {
    flex-grow: 1;
    height: 49px;
    width: 40px;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone_location i {
    color: #000000;
}

.search_zone {
    flex-grow: 3;
    height: 49px;
    border-top: #F2F2F2 solid 1px;
    border-bottom: #F2F2F2 solid 1px;
    display: flex;
}

.search_zone input {
    flex-grow: 1;
    border: none;
    padding-left: 20px;
    font-size: 1.1em;
    font-weight: bold;
}

.btn {
    flex-grow: 2;
    height: 49px;
    border-radius: 0 15px 15px 0;
    display: flex;
}

.btn input {
    flex-grow: 1;
    align-items: center;
    border: none;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    font-size: 1.1em;
    font-weight: bold;
    color: #FFFFFF;
}

.magnifying_glass {
    display: none;
}



.filters {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 70%;
    font-size: 1em;
    font-weight: bold;
}

.filters h3 {
    margin-bottom: 0;
}

.filters_elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.filters_elements :hover {
    background-color: #deebff;
}

.element {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 50px;
    border: solid 2px #D9D9D9;
    border-radius: 30px;
    margin-left: 4%;
}

.element i {
    margin: 0 10px 0 20px;
}

.search_footer {
    display: flex;
    align-items: center;
}

.search_footer .circle {
    width: 30px;
    height: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding-left: 0.8%;
    padding-top: 0.2%;
    margin-right: 10px;
}




/* ici se trouve tout ce qui concerne la section .accomodation c'est à dire les deux .box (. box lodging et .box le aside) */ 

.accomodation {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 880px 480px;
    gap: 45px;
}

.box {
    height: 630px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 50px 35px 35px 35px;
}

/* ici se trouve tout ce qui concerne la section .lodging ("Hébergement à Marseille") : header + .lodging_cards (contenant les 6 .cards) + footer */ 

#lodging {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lodging_header {
    height: 10%;
}

.lodging_cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

.cards {
    border-radius: 20px;
    width: 30%;
    height: 200px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cards img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0; 
    object-fit: cover;
}

.cards_txt {
    padding-left: 10px;
}

.cards_txt p {
    padding-bottom: 2px;
}

.lodging_footer {
    font-weight: bold;
    font-size: 1.4em;
}

/* ici se trouve tout ce qui concerne le aside ("Les plus populaires) */ 

aside {
    padding: 20px;
}

aside header {
    display: flex;
    justify-content: space-between;
}

.popular_cards {
    border-radius: 20px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #FFFFFF;
}

.popular_cards a {
    display: flex;
}

.popular_cards img {
    width: 35%;
    height: 140px;
    border-radius: 20px 0 0 20px; 
    object-fit: cover;
}

.popular_cards div {
    margin: 15px;
}

/* ici se trouve tout ce qui concerne la section .activities */

.activities {
    background-color: aquamarine;
    padding: 20px;
}

.activities_cards {
    display: flex;
}

.activities_cards a {      /* reflexion mise en pause pour retourner aux étapes 6 et 7 */ 
    display: flex;
    align-items: flex-end;
    margin: 30px;
    border: solid 1px white;
    border-radius: 5px;
    flex-grow: 1;
    width: 100%;
    height: 450px;
}

.activities_cards a h3 {
    margin-left: 20px;
}


/* fin du main */



/* ici se trouve tout ce qui concerne le footer de la page, nommé .main_footer */ 

.main_footer {
    background-color: #F2F2F2;
    height: 191px;
    display: flex;
    padding: 50px;
}

.footer_zone {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footer_zone p {
    display: flex;
    flex-direction: column;
}

.footer_zone a {
    margin-bottom: 8px;
}